header{
    height: 100vh;
    margin-top: 4rem;
}
.header__container{
    height: 100%;
    text-align: center;
    position: relative;
}
.resume{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.social__links{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 15rem;
}
.social__links::after{
    content: "";
    width: 1px;
    height: 2rem;
    margin-left: 8px;
    background-color: var(--color-primary);
}
.me{
    background: linear-gradient(var(--color-primary),transparent);
    margin-top: 3rem;
    position: absolute;
    width: 20rem;
    height: 27rem;
    left: 50%;
    border-radius: 12rem 12rem 0 0;
    transform: translateX(-50%);
    padding: 1rem  1.5rem 1.5rem 1.5rem;
    overflow: hidden;
}

.me img{
    border-radius: 12rem 12rem 0 0;
}
.scroller{
  position: absolute;
  bottom: 5rem;
  right: 2rem;
}
.scroll__down{
    position: absolute;
    right: -4.5rem;
    transform: rotate(90deg);
    bottom: 15rem;
}


.scrolldown {
  --color: white;
  --sizeX: 25px;
  --sizeY: 35px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}










  
  @media screen and (max-width:1024px) {
    header{
      height: 68vh;
    }
  }
  @media screen and (max-width:1024px) {
    header{
      height: 100vh;
    }.social__links,.scroll__down{
      display: none;
    }
    header button {
     
      width: 7.375rem;
      height: 3rem;}
  }